
/*===== Variables =====*/

$text: #000;
$text-muted: #5f5f5f;

$theme: #f21f40;
$theme-darken: #afd2e0;
$bg: #e9f5f5;

$borders: #b6d2dd;

$complementary: #0081FF;

$coin-bg: #527089;
$coin-bg-middle: #57748c;
$coin-bg-center: #688298;

$coin-color-01: #c7bce8;
$coin-color-02: #b2d5dc;
$coin-color-03: #d6def3;
$coin-color-04: #efd4ca;

$shine-01: #dfe1f5;
$shine-02: #b3a7ff;
$shine-03: #fda6f3;
$shine-04: #d2e9f6;
$shine-05: #c1e3f8;
$shine-06: #fda6f3;

$z-index-max: 2000000000;


/*===== Mixins =====*/
@mixin clear() {
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

/*===== Keyframes =====*/
@keyframes loading { to { opacity: 0 } }

@keyframes shine {
  0% { transform: scale(.3) }
  50% { transform: scale(.6); opacity: 1 }
  100% { transform: scale(1); opacity: 0 }
}
