@media screen {
  .spin {
    &-btn {
      transition: all .25s ease;
      &:hover {
        background-color: $theme;
        color: #fff;
      }
      &-filled {
        &:hover {
          background-color: $complementary;
          border-color: $complementary;
        }
      }
    }
    &-button {
      transition: all .2s ease;
      &:hover {
        box-shadow: 0 0 10px rgba(#000, .4);
      }
    }
    &-tooltip-open {
      &:hover {
        color: $complementary;
        text-decoration: underline;
      }
    }
    &-close {
      transition: all .2s ease;
      &:hover {
        fill: $complementary;
      }
    }
    .submit {
      &:hover {
        path {
          fill: $complementary;
        }
      }
    }
  }
}
