@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Gloria+Hallelujah');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: none;
}

::-moz-focus-inner {
  box-shadow: none;
}

@keyframes arrow {
  0% { transform: none }
  5% { transform: translateY(-25px) }
  10% { transform: translateY(-15px) }
  15% { transform: translateY(-25px) }
  20% { transform: none }
}

.loyalty {
  font: 400 16px/1.5 'Open Sans', sans-serif;
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  &-arrow {
    position: absolute;
    top: 152px;
    right: 50px;
    fill: $theme;
    width: 62px;
    svg {
      display: block;
      width: 100%;
    }
    animation: arrow 4s ease 0s infinite;
  }
}

.logo {
  font: {
    size: 2em;
    weight: 700;
    family: 'Gloria Hallelujah', cursive;
  }
  color: $theme;
}

.container {
  padding: 0 20px;
}

.content {
  display: flex;
  text-align: center;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  padding: 50px 30px 0;
}

.footer {
  text-align: center;
  padding-bottom: 20px;
  font-size: .75em;
  opacity: .9;
}

button, label {
  cursor: pointer;
}

p {
  margin: .66em 0;
}

.btn {
  font: {
    size: 13px;
    weight: 400;
  }
  text-align: center;
  display: inline-block;
  vertical-align: top;
  color: $theme;
  border-radius: 30px;
  border: 2px solid $theme;
  padding: 12px 30px;
  min-width: 170px;
  background-color: transparent;
  transition: all .25s ease;
  &-filled {
    background-color: $theme;
    color: #fff;
  }
  &:hover {
    background-color: $theme;
    color: #fff;
  }
  &-filled {
    &:hover {
      background-color: $complementary;
      border-color: $complementary;
    }
  }
}

.h1 {
  color: $theme;
  font-size: 5em;
  margin-bottom: 1em;
}

label.btn {
  margin-top: 2em;
}

.form {

  transition: all .25s ease;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#fff, .92);
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;

  &-content {
    width: 320px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(#000, .25);
    position: relative;
  }

  :checked ~ & {
    transform: none;
    visibility: visible;
    opacity: 1;
    &-content {
      transform: none;
    }
  }

}

.h2 {
  color: $theme;
  margin-bottom: 20px;
}

.row {
  + .row {
    margin-top: 20px;
  }
}

.fields {
  border: 0;
  padding: 20px;
}

.success {
  .fields {
    opacity: 0;
    visibility: hidden;
  }
  &-response {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $theme;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: all .25s ease;
    .success & {
      visibility: visible;
      opacity: 1;
    }
  }
}

.input {
  width: 100%;
  display: block;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  font-size: 13px;
  height: 32px;
  padding: 0 10px;
  &:focus {
    border-color: $complementary;
  }
  &-text {
    padding: 8px 10px;
    min-height: 96px;
    resize: none;
    overflow: auto;
  }
}

.spin-button {
  animation: button 4s ease 1s infinite;
  &:hover, .spin-appear & {
    animation: none;
  }
}

@media (max-width: 640px) {
  .loyalty {
    font-size: 15px;
    &-arrow {
      top: 112px;
      right: 31px;
      width: 40px;
    }
  }
  .header {
    padding: 0 82px 0 0;
    display: flex;
    height: 62px;
    align-items: center;
    margin-top: 20px;
    flex-shrink: 0;
  }
  .logo {
    font-size: 1.5em;
  }
  .form {
    &-content {
      width: 280px;
    }
  }
  .h1 {
    font-size: 3em;
  }
}
