
#spin-widget {
  z-index: 999999;
  position: fixed;
}

.spin {

  font: 300 14px/1.5 'Roboto', sans-serif;

  -webkit-tap-highlight-color: transparent;

  &, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: none;
  }

  ::-moz-focus-inner {
    box-shadow: none;
  }

  button {
    cursor: pointer;
  }

  [disabled] {
    pointer-events: none;
    opacity: .9;
  }

  input::-ms-clear {
    display: none;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  &-cls {
    &-1 {
      fill: #ff3f52;
    }
    &-2 {
      fill: none;
    }

    &-3 {
      fill: #ff5065;
    }

    &-4 {
      fill: #f21f40;
    }

    &-5 {
      fill: #ff7189;
    }

    &-6 {
      fill: #fff;
    }
  }

  &-box {
    margin: auto;
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: $z-index-max;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(#000, .6);
  }

  &-steps {
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    max-width: 900px;
    position: relative;
    background: {
      color: $bg;
    }
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    fill: $theme-darken;
    background-color: transparent;
    font-size: 0;
    border: 0;
    padding: 12px 13px;
  }

  &-error {
    position: absolute;
    top: 100%;
    right: 20px;
    color: $theme;
    font: {
      weight: 700;
      size: .75em;
    }
    opacity: 0;
    visibility: hidden;
    transition: all .25s ease;
    &-appear {
      opacity: 1;
      visibility: visible;
      ~ .spin-fields {
        .input {
          opacity: .9;
        }
      }
    }
  }

  &-step {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    //height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: {
      repeat: no-repeat;
    }
    &-main {
      padding-top: 23vh;
      @media (min-width: 641px) {
        background: {
          position: 50% 100%;
          image: url(../img/ui/step-intro.png);
        }
      }
    }
    &-details {
      @media (min-width: 641px) {
        background: {
          position: 50% 0;
          image: url(../img/ui/step-desc.png);
        }
      }
      text-align: center;
      opacity: 0;
      visibility: hidden;
      p {
        margin: .75em 0;
      }
      .spin {
        &-logo {
          margin-bottom: 35px;
        }
        &-box {
          padding-top: 3.25521vh;
          max-width: 467px;
          background-image: radial-gradient(circle at 50% 50px, #fff, #fff 10%, rgba(#fff, 0) 20%);
        }
      }
    }
  }

  &-button {
    border: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(#000, 0.3);
    position: fixed;
    top: 50px;
    right: 50px;
    width: 62px;
    height: 62px;
    z-index: 5;
    .spin-logo {
      width: 46px;
      font-size: 8px;
    }
  }

  &-logo {
    margin: auto;
    font: {
      family: 'Montserrat', sans-serif;
      weight: 700;
    }
    color: $theme;
    text: {
      transform: uppercase;
      align: center;
    }
  }

  &-pointer {
    position: absolute;
    top: -112px;
    left: 50%;
    margin-left: -111px;
    width: 222px;
    height: 295px;
    padding-top: 137px;
    text-align: center;
    z-index: $z-index-max + 10;
    &-logo {
      display: inline-block;
      position: relative;
      .spin-logo {
        font-size: 14px;
        width: 85px;
      }
    }
    &-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      svg {
        width: 100%;
        height: 100%;
      }
    }

    .spin {
      &-loader {
        top: auto;
        bottom: 110px;
      }
    }

  }

  &-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    margin: -4px 0 0 -20px;
    opacity: 0;
    visibility: hidden;
    span {
      width: 8px;
      height: 8px;
      background-color: $theme;
      border-radius: 50%;
      + span {
        margin-left: 8px;
      }
      animation: loading .75s ease-in-out 0s infinite;
      &:nth-child(2) {
        animation-delay: .1s;
      }
      &:nth-child(3) {
        animation-delay: .2s;
      }
    }
  }

  &-prizes {
    font-size: 0;
    margin: 0 auto;
    position: relative;
    width: 184px;
    height: 184px;
    transform-style: preserve-3d;
  }

  &-prize {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 6px;

    &-inner {
      box-shadow: 0 0 10px rgba(#000, .25);
      border-radius: 10px;
      background-color: #fff;
      height: 184px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    text-align: center;
    color: $text-muted;
    img {
      max-height: 109px;
      margin: auto auto 15px;
      + * {
        margin-top: auto;
        font-size: 14px;
      }
    }
  }

  &-buttons {
    margin-top: 7.8125vh;
    text-align: center;
    font-size: 0;
  }

  &-btn {
    font: {
      size: 14px;
      weight: 400;
    }
    text-align: center;
    display: inline-block;
    vertical-align: top;
    color: $theme;
    border-radius: 30px;
    border: 2px solid $theme;
    padding: 20px;
    line-height: 1;
    min-width: 170px;
    background-color: transparent;
    &-filled {
      background-color: $theme;
      color: #fff;
    }
    &[disabled]{
      + .spin-btn{
        display: inline-block;
        opacity: 1;
        visibility: visible;
      }
    }
    &-lucky {
      display: none;
      margin-left: -170px;
      opacity: 0;
      visibility: hidden;
      transform: scale(1);
    }
  }

  &-success {
    text-align: center;
    position: relative;
    max-width: 370px;
    margin: 50px auto 0;
    color: $text-muted;
  }

  &-congrats {
    font: {
      size: 20px;
      weight: 400;
    }
    margin: 25px 0;
  }

  &-howto {
    background-color: rgba(#fff, .5);
    border: 2px solid rgba($borders, .5);
    border-radius: 4px;
    padding: 10px 50px;
    font-size: 15px;
  }

  &-firework {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
  }

  &-shine {
    position: absolute;
    transform: scale(.3);
    animation: shine .75s ease-out 0s infinite;
    &:nth-child(1) {
      bottom: 100%;
      left: 0;
      margin-bottom: 5px;
      fill: $shine-01;
    }
    &:nth-child(2) {
      bottom: 100%;
      right: 0;
      margin-bottom: 5px;
      fill: $shine-02;
    }
    &:nth-child(3) {
      top: 0;
      right: 100%;
      fill: $shine-03;
    }
    &:nth-child(4) {
      top: 0;
      left: 100%;
      fill: $shine-04;
    }
    &:nth-child(5) {
      bottom: 100%;
      right: 100%;
      margin-right: 30px;
      fill: $shine-05;
    }
    &:nth-child(6) {
      bottom: 100%;
      left: 100%;
      margin-left: 30px;
      fill: $shine-06;
    }

    @each $index in 1, 2, 3, 4, 5, 6 {
      &:nth-child(#{$index}) {
        animation-delay: 0s + $index * .15;
      }
    }
  }

  &-coins {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font: {
      family: 'Oswald', sans-serif;
    }
    color: $coin-color-01;
    fill: $coin-color-01;
    margin: 30px 0 14px;
  }

  &-coin {
    background: $coin-bg linear-gradient(to right, $coin-bg, $coin-bg-middle, $coin-bg-center, $coin-bg-middle, $coin-bg);
    border-radius: 4px;
    box-shadow: 0 1px 12.74px 0.26px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 228px;
    height: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

    &:nth-child(2) {
      color: $coin-color-02;
      fill: $coin-color-02;
    }
    &:nth-child(3) {
      color: $coin-color-03;
      fill: $coin-color-03;
    }
    &:nth-child(4) {
      color: $coin-color-04;
      fill: $coin-color-04;
    }

    &:nth-child(n + 3) {
      .spin-star {
        &:first-child, &:last-child {
          transform: scale(.66) translateY(-4px);
        }
      }
    }

    &-desc {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.66em;
      margin-top: -15px;
      top: 50%;
      left: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transform: scale(1.1);
      line-height: 1.33;
      padding: 0 10px;
      font: {
        size: 12px;
        family: 'Roboto', sans-serif;
      }
    }

    &-name {
      text-transform: uppercase;
      margin-top: 8px;
    }

    &-name, &-desc {
      transition: all .65s ease;
    }

    &:hover {
      .spin-coin {
        &-name {
          transform: translateY(10px);
        }
        &-desc {
          opacity: 1;
          transform: none;
          visibility: visible;
          transition-delay: .2s;
        }
      }

      &:nth-child(n + 3) {
        .spin-star {
          &:first-child, &:last-child {
            transform: scale(.66) translateY(-12px);
          }
        }
      }

      .spin-star {
        transform: translateY(-10px);
        background-position: 50% 130%;
      }
    }

  }

  &-rating {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-star {
    height: 40px;
    background: url(../img/ui/shadow.png) no-repeat 50% 100% / contain;
    transition: all .65s ease;
    + .spin-star {
      margin-left: 15px;
    }
  }

  &-coupon {
    margin: auto;
    max-width: 390px;
  }

  &-form {
    margin: 20px 0;
    position: relative;
  }

  .input {
    display: block;
    width: 100%;
    border: 2px solid $borders;
    background-color: transparent;
    border-radius: 27px;
    height: 54px;
    font-size: 14px;
    padding: 0 70px 0 30px;
    transition: all .25s ease;
    &:focus {
      border-color: $borders;
      background-color: rgba(rgb(175, 210, 224), .2);
    }
    &:required {
      box-shadow: none;
    }
  }

  .row {
    position: relative;
  }

  .submit {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 29px;
    height: 20px;
    background: transparent;
    border: 0;
    margin-top: -10px;
  }

  &-tooltip {
    position: absolute;
    background-color: #fff;
    border: 2px solid $borders;
    border-radius: 3px;
    font: {
      weight: 400;
    }
    padding: 20px 40px;
    margin-bottom: 20px;
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      right: 125px;
      width: 28px;
      height: 19px;
      background: url(../img/ui/tooltip.png) no-repeat 0 0 / contain;
    }
    &-open {
      background: transparent;
      border: 0;
      color: $theme;
      display: inline-block;
      vertical-align: top;
    }
  }

  &-help {
    position: relative;
    margin-top: 25px;
  }

  &-fields {
    border: 0;
    transition: all .25s ease;
  }

  @media (max-width: 640px) {
    &-button {
      top: 20px;
      right: 20px;
    }
    &-step {
      &-main {
        padding-top: 160px;
      }
    }
    &-coins {
      justify-content: center;
    }
    &-form {
      margin: 20px;
    }
    &-success {
      margin: 50px 60px 0;
    }
    &-howto {
      margin: 0 -40px 20px;
      padding: 10px;
    }
  }

}
