
.spin {

  // loader features

  .spin-loading &, .error & {
    &-fields, &-help {
      opacity: 0;
      visibility: hidden;
    }
  }

  &-tooltip {
    transition: all .25s ease;
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    .spin-tooltip-opened & {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }

  .spin-loading & {
    &-loader {
      visibility: visible;
      opacity: 1;
    }
  }

  &-loader, &-path-static {
    transition: all .25s ease;
  }

  &-overlay {
    transition: all .5s ease;
  }

  &-success, &-step {
    transition: all .75s ease;
  }

  &-success {
    transform: translateY(20px);
    transition-delay: .5s;
    opacity: 0;
    visibility: hidden;
  }

  &-pointer {
    transform: translateY(-200px);
    transition: all .75s ease .1s;
    &-logo {
      transition: all .25s ease;
    }
  }

  // screen switching

  &-appear {
    .spin {
      &-lottery, &-overlay {
        opacity: 1;
        visibility: visible;
      }
      &-pointer {
        transform: translateY(0px);
      }
    }
  }

  &-lottery {
    transition: all .75s ease .5s;
    opacity: 0;
    visibility: hidden;
    .spin {
      &-box {
        perspective: 200vw;
        perspective-origin: 50% -60%;
      }
    }
  }

  &-details {
    .spin {
      &-lottery {
        opacity: 0;
        visibility: hidden;
      }
      &-step {
        &-main {
          opacity: 0;
          visibility: hidden;
        }
        &-details {
          opacity: 1;
          visibility: visible;
        }
      }
      &-pointer {
        transform: translateY(-250px);
      }
    }
  }

  &-roulette {
    .spin {
      &-lottery {
        opacity: 1;
        visibility: visible;
      }
      &-btn {
        &:not(.spin-btn-lucky) {
          opacity: 0;
          visibility: hidden;
        }
        &-lucky {
          opacity: 1;
          visibility: visible;
        }
      }
      &-fields, &-help {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &-rolling {
    .spin {
      &-path-static {
        opacity: 0;
      }
      &-btn {
        &-lucky {
          opacity: 0;
          visibility: hidden;
        }
      }
      &-pointer {
        &-logo {
          visibility: hidden;
          opacity: 0;
        }
        .spin {
          &-loader {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  &-win {
    .spin {
      &-lottery {
        opacity: 1;
        visibility: visible;
      }
      &-buttons {
        display: none;
      }
      &-success {
        opacity: 1;
        visibility: visible;
        transform: none;
      }
    }
  }
}
