
// palette

$gradient-start: #df5e00;
$gradient-end:   #f8b226;

$category-2: #f4db95;
$category-3: #ff9350;
$category-4: #f0643e;

$submit: #ffdd77;

$loader: #ffcf00;

.spin {
  color: #fff;

  ::-webkit-input-placeholder {
    color: #fff;
  }

  :-moz-placeholder {
    color: #fff;
  }

  &-loader {
    width: 86px;
    height: 32px;
    align-items: center;
    justify-content: center;
    background-color: rgba(#000, .88);
    border-radius: 16px;
    margin: -16px 0 0 -43px;
    span {
      background-color: $loader;
    }
    .spin-pointer & {
      top: 100%;
      bottom: auto;
      margin-top: 230px;
    }
  }

  &-btn {
    border: 0;
    background: $gradient-start linear-gradient(to right, $gradient-start, $gradient-end);
    color: #000;
    &:hover {
      color: #000;
      opacity: .95;
    }
  }

  &-pointer {
    position: relative;
    left: 0;
    top: 0;
    margin: 15px auto 0;
    transform: none;
    width: 160px;
    height: 162px;
    background: transparent url(../img/ui/logo.png) no-repeat 50% 100% / contain;
    padding: 0;
  }

  &-button {
    width: 67px;
    height: 67px;
    border-radius: 4px;
    background: #fbca39;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.5);
    &:after {
      position: absolute;
      content: '';
      width: 67px;
      height: 79px;
      bottom: 0;
      left: 0;
      background: url(../img/ui/widget.png) no-repeat 50% 100% / contain;
    }
  }

  &-text, &-tooltip {
    color: #000;
  }
  .row {
    margin: 15px 0;
  }
  .input {
    color: #fff;
    border-color: #fff;
    &:focus {
      border-color: $submit;
      background: transparent;
    }
  }
  .submit {
    fill: $submit;
  }
  &-tooltip {
    &-open {
      color: $category-4;
      &:hover {
        color: $submit;
      }
    }
    .spin {
      &-close:not(:hover) {
        fill: #000;
      }
    }
  }
  &-close {
    fill: #fff;
    &:hover {
      fill: $submit;
    }
  }
  &-coin {
    color: #fff;
    fill: #fff;
    background: #161616 radial-gradient(circle at center, rgba(#fff, .15), transparent 70%, transparent);
    &:nth-child(2) {
      color: $category-2;
      fill: $category-2;
    }
    &:nth-child(3) {
      color: $category-3;
      fill: $category-3;
    }
    &:nth-child(4) {
      color: $category-4;
      fill: $category-4;
    }
  }

  &-lottery {
    .spin {
      &-box {
        perspective-origin: 50%;
      }
    }
  }

  &-success {
    display: none;
  }

  &-prize {
    padding: 0 3px;
    backface-visibility: hidden;
    font: {
      weight: 400;
    }
    text-transform: uppercase;
    &-inner {
      border: 1px solid rgb(129, 129, 129);
    }
  }

  &-steps {
    background: url(../img/ui/bg.jpg) no-repeat 50% 0 / cover;
    overflow-y: auto;
    @media (max-width: 640px) {
      > .spin-close {
        position: fixed;
      }
    }
  }

  &-step {
    overflow: hidden;
    &-details {
      padding-top: 177px;
      height: 0;
      .spin-details & {
        height: auto;
      }
    }
    &-main {
      padding-top: 15px;
      position: static;
      height: auto;
    }
    .spin {
      &-box {
        background: transparent;
      }
    }
  }

  &-details {
    .spin-pointer {
      transform: none;
    }
  }

  &-congrats {
    color: $submit;
    text-shadow: 0 0 10px rgba(#feca35, .48);
  }

  &-howto {
    border: 1px solid rgb(105, 105, 105);
    background-color: rgba(#000, 9);
    font-weight: 400;
    color: rgba(#fff, .6);
  }

  &-win {
    .spin {
      &-success {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: none;
        transition-delay: .5s;
      }
    }
  }

  @media (max-width: 640px) {
    &-shine {
      &:nth-child(3), &:nth-child(4) {
        display: none;
      }
    }
    &-congrats {
      margin: 25px -25px;
    }
    &-tooltip {
      padding: 20px;
    }
    &-close {
      fill: #000;
    }
    &-text {
      color: #fff;
      background-color: rgba(#000, .5);
      padding: 20px;
    }
    &-step {
      &-details {
        .spin-text {
          padding: {
            left: 20px;
            right: 20px;
          }
        }
      }
    }
  }

}
