head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge, chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no")
    title Spinbox by Loyalty booster
    meta(name="description" content="Революционный инструмент повышения лояльности")
    meta(name="keywords" content="лояльность, интернет-магазин, спинбокс, spinbox")
    meta(name="theme-color" content="#000")
    link(rel="shortcut icon" type="image/png" href=`${htmlWebpackPlugin.files.favicon}`)
    link(rel="stylesheet" href=`${htmlWebpackPlugin.files.css}`)
