<div hidden>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">

        <!-- Spinbox logo -->
        <symbol id="spinbox-logo" viewBox="0 0 80.27 53.94">
            <defs>
                <style>
                  .spin-cls-1 {
                      fill: #ff3f52;
                  }

                  .spin-cls-2 {
                      fill: none;
                  }

                  .spin-cls-3 {
                      fill: #ff5065;
                  }

                  .spin-cls-4 {
                      fill: #f21f40;
                  }

                  .spin-cls-5 {
                      fill: #ff7189;
                  }

                  .spin-cls-6 {
                      fill: #fff;
                  }
                </style>
              </defs>
            <g>
              <polygon class="spin-cls-1" points="71.15 27.18 55.46 53.94 24.44 53.72 9.12 26.75 24.81 0 55.83 0.21 71.15 27.18"/>
              <polygon class="spin-cls-2" points="16.77 26.81 9.12 26.75 16.77 26.81 16.77 26.81"/>
              <path class="spin-cls-3" d="M260.5,255.65l2.42,4.26,31,0.22L285,244.41A144.93,144.93,0,0,1,260.5,255.65Z" transform="translate(-238.48 -206.19)"/>
              <path class="spin-cls-2" d="M307.91,223.38c6.65-6.38,7.46-9.78,6.89-10.78h0c-0.31-.54-1.43-1.1-3.8-1.1a35,35,0,0,0-9,1.5c-1.09.3-2.22,0.65-3.38,1l6.67,11.74C306.22,225,307.1,224.16,307.91,223.38Z" transform="translate(-238.48 -206.19)"/>
              <polygon class="spin-cls-1" points="23.16 26.85 23.16 26.85 40.13 26.97 23.16 26.85"/>
              <polygon class="spin-cls-4" points="40.13 26.97 48.72 12.33 48.72 12.33 40.13 26.97"/>
              <polygon class="spin-cls-4" points="51.96 6.81 55.83 0.21 51.96 6.81 51.96 6.81"/>
              <path class="spin-cls-4" d="M285,244.41l8.93,15.72,15.69-26.75-2.42-4.26a143.67,143.67,0,0,1-22.2,15.3h0Z" transform="translate(-238.48 -206.19)"/>
              <polygon class="spin-cls-4" points="16.77 26.81 19.26 26.82 16.77 26.81 16.77 26.81"/>
              <polygon class="spin-cls-5" points="24.81 0 9.12 26.75 40.13 26.97 55.83 0.21 24.81 0"/>
              <path class="spin-cls-6" d="M283.13,241.11A137.55,137.55,0,0,1,258.6,252.3l1.9,3.35A144.93,144.93,0,0,0,285,244.41Z" transform="translate(-238.48 -206.19)"/>
              <path class="spin-cls-3" d="M278.61,233.16l-31-.22,11,19.36a137.55,137.55,0,0,0,24.54-11.19Z" transform="translate(-238.48 -206.19)"/>
              <path class="spin-cls-6" d="M283.13,241.11h0l1.87,3.29h0a143.67,143.67,0,0,0,22.2-15.3l-1.9-3.35A138.2,138.2,0,0,1,283.13,241.11Z" transform="translate(-238.48 -206.19)"/>
              <path class="spin-cls-4" d="M294.31,206.4l-15.69,26.75,4.52,8h0a138.2,138.2,0,0,0,22.17-15.35Z" transform="translate(-238.48 -206.19)"/>
              <path class="spin-cls-3" d="M254.81,253.5c-7.81,2.34-11.4,2-12.39.22-0.56-1,.23-4.32,6.65-10.54l-1.91-3.43-0.47.46c-7,6.72-9.54,11.9-7.56,15.39,1.16,2,3.69,3,7.17,3a31.91,31.91,0,0,0,10.39-1.67Z" transform="translate(-238.48 -206.19)"/>
              <g>
                <path class="spin-cls-2" d="M314.8,212.6h0c-0.31-.54-1.43-1.1-3.8-1.1a34.31,34.31,0,0,0-8.64,1.41l5.86,10.18C314.58,216.89,315.36,213.58,314.8,212.6Z" transform="translate(-238.48 -206.19)"/>
                <path class="spin-cls-4" d="M311,211.49c2.38,0,3.5.56,3.8,1.1h0c0.56,1-.37,4.52-6.72,10.7l1.86,3.35,0.59-.53c7-6.72,9.54-11.9,7.56-15.39h0c-2-3.49-7.73-4-17.09-1.38l-0.6.16,1.91,3.43A35,35,0,0,1,311,211.49Z" transform="translate(-238.48 -206.19)"/>
              </g>
              <polygon class="spin-cls-2" points="28.72 22.49 22.06 18.73 28.72 22.49 28.72 22.49"/>
              <polygon class="spin-cls-4" points="28.72 22.49 30.9 23.72 28.72 22.49 28.72 22.49"/>
            </g>
        </symbol>


        <!-- Spinbox icon close -->
        <symbol id="spinbox-close" viewBox="0 0 14 14">
            <g>
                <path d="M14.003,2.151 L11.848,-0.004 L-0.004,11.849 L2.151,14.004 L14.003,2.151 Z"/>
                <path d="M-0.004,2.151 L2.151,-0.004 L14.003,11.849 L11.848,14.004 L-0.004,2.151 Z"/>
            </g>
        </symbol>

        <!-- Spinbox submit -->
        <symbol id="spinbox-submit" viewBox="0 0 29 20">
            <g>
                <path transform="translate(0 10)" fill="rgb(242, 31, 64)" d="M7.000,-0.000 L29.000,-0.000 L-0.000,10.000 L7.000,-0.000 Z"/>
                <path fill="rgb(255, 74, 102)" d="M7.000,10.000 L29.000,10.000 L-0.000,-0.000 L7.000,10.000 Z"/>
            </g>
        </symbol>

        <!-- Spinbox star -->
        <symbol id="spinbox-star" viewBox="0 0 39.72 37.95">
          <path d="M114.35,324l4.77,9.66a1.77,1.77,0,0,0,1.33,1l10.66,1.55a1.77,1.77,0,0,1,1,3l-7.71,7.52a1.77,1.77,0,0,0-.51,1.56l1.82,10.62a1.77,1.77,0,0,1-2.56,1.86l-9.53-5a1.77,1.77,0,0,0-1.65,0l-9.53,5a1.77,1.77,0,0,1-2.56-1.86l1.82-10.62a1.77,1.77,0,0,0-.51-1.56l-7.71-7.52a1.77,1.77,0,0,1,1-3l10.66-1.55a1.77,1.77,0,0,0,1.33-1l4.77-9.66A1.77,1.77,0,0,1,114.35,324Z" transform="translate(-92.91 -322.98)"/>
        </symbol>

        <!-- Spinbox Shine -->
        <symbol id="spinbox-shine" viewBox="0 0 25.88 32.11">
          <path class="cls-1" d="M338.44,467.61c-3.24.19-10.84-.72-11.58-13.23a1.09,1.09,0,1,0-2.18.13c0.74,12.52-6.7,14.32-9.93,14.51a1.09,1.09,0,0,0,.13,2.18c3.24-.19,10.83.71,11.58,13.23a1.09,1.09,0,0,0,2.18-.13c-0.74-12.52,6.7-14.32,9.94-14.51A1.09,1.09,0,1,0,338.44,467.61Z" transform="translate(-313.72 -453.34)"/>
        </symbol>

    </svg>
</div>
