
//!======= Step 02 ========

.spin-step.spin-step-details
    .spin-box

        //!===== Logo =====
        include ../components/logo

        //!======= Step 02 intro ========
        .spin-text
            p За определенные действия на сайте Вы будете получать монетки соответствующего номинала.
            p В зависимости от номинала монеты Вы будете участвовать в розыгрыше более ценных товаров!

        //!======= Coins ========
        .spin-coins
            .spin-coin
                .spin-rating
                    .spin-star
                        svg(width=24 height=22)
                            use(xlink:href="#spinbox-star")
                .spin-coin-desc За предоставление личных данных (подписка на рассылку)
                .spin-coin-name Одна звезда
            .spin-coin
                .spin-rating
                    each $item in [1, 2]
                        .spin-star
                            svg(width=24 height=22)
                                use(xlink:href="#spinbox-star")
                .spin-coin-desc За осуществление оплаты на сайте
                .spin-coin-name Две звезды
            .spin-coin
                .spin-rating
                    each $item in [1, 2, 3]
                        .spin-star
                            svg(width=24 height=22)
                                use(xlink:href="#spinbox-star")
                .spin-coin-desc За выкупленный заказ
                .spin-coin-name Три звезды
            .spin-coin
                .spin-rating
                    each $item in [1, 2, 3, 4]
                        .spin-star
                            svg(width=24 height=22)
                                use(xlink:href="#spinbox-star")
                .spin-coin-desc За повторную покупку
                .spin-coin-name Vip Четыре звезды

        //!======= Coupon form ========
        .spin-coupon
            p Чтобы выиграть гарантированный приз, введите код полученный Вами в письме!
            form.spin-form
                .row
                    fieldset.spin-fields
                        input.input(placeholder="Введите полученный код" name="coupon")
                        button.submit
                            svg(width=29 height=20)
                                use(xlink:href="#spinbox-submit")
                    include ../components/loader

        //!======= Tooltip ========
        .spin-help
            button.spin-tooltip-open(type="button") Где получить код?
            .spin-tooltip
                p За определенные действия на сайте Вы будете получать монетки соответствующего номинала. В зависимости от номинала монеты Вы будете участвовать в розыгрыше более ценных товаров!
                button.spin-close(type="button")
                    svg(width=14 height=14)
                        use(xlink:href="#spinbox-close")

