
//!======= Step 01 ========

.spin-step.spin-step-main
    .spin-box

        //!======= Prizes ========
        .spin-prizes
            figure.spin-prize
                .spin-prize-inner
                    img(src=require('../../img/content/cup.png'))
                    figcaption Чашка
            figure.spin-prize
                .spin-prize-inner
                    img(src=require('../../img/content/iphone.jpg'))
                    figcaption iPhone
            figure.spin-prize
                .spin-prize-inner
                    img(src=require('../../img/content/iwatch.png'))
                    figcaption iWatch
            figure.spin-prize
                .spin-prize-inner
                    img(src=require('../../img/content/powerbank.jpg'))
                    figcaption Powerbank
            figure.spin-prize
                .spin-prize-inner
                    img(src=require('../../img/content/t-shirt.png'))
                    figcaption Футболочка
            figure.spin-prize
                .spin-prize-inner
                    img(src=require('../../img/content/cup.png'))
                    figcaption Чашка
            figure.spin-prize
                .spin-prize-inner
                    img(src=require('../../img/content/iphone.jpg'))
                    figcaption iPhone
            figure.spin-prize
                .spin-prize-inner
                    img(src=require('../../img/content/iwatch.png'))
                    figcaption iWatch
            figure.spin-prize
                .spin-prize-inner
                    img(src=require('../../img/content/powerbank.jpg'))
                    figcaption Powerbank
            figure.spin-prize
                .spin-prize-inner
                    img(src=require('../../img/content/t-shirt.png'))
                    figcaption Футболочка
            figure.spin-prize(data-prize)
                .spin-prize-inner
                    img(src=require('../../img/content/cup.png'))
                    figcaption Чашка
            figure.spin-prize
                .spin-prize-inner
                    img(src=require('../../img/content/iphone.jpg'))
                    figcaption iPhone
            figure.spin-prize
                .spin-prize-inner
                    img(src=require('../../img/content/iwatch.png'))
                    figcaption iWatch
            figure.spin-prize
                .spin-prize-inner
                    img(src=require('../../img/content/powerbank.jpg'))
                    figcaption Powerbank
            figure.spin-prize
                .spin-prize-inner
                    img(src=require('../../img/content/t-shirt.png'))
                    figcaption Футболочка


        //!======= Buttons to next step ========
        .spin-buttons
            button.spin-btn(type="button") Мне повезет!
            button.spin-btn.spin-btn-filled.spin-btn-lucky(type="button") Играть

        .spin-success
            .spin-firework
                each $fire in [1, 2, 3, 4, 5, 6]
                    .spin-shine
                        svg(width="25.88" height="32.11")
                            use(xlink:href="#spinbox-shine")
            .spin-congrats Поздравляем, Вы выиграли iPhone 7
            .spin-howto Информация о том, как забрать подарок придет на Ваш email
