
#spin-widget.spin

    //!======= Open button ========
    button.spin-button(type="button")
        include ../components/logo

    //!======= Main SpinBox block ========
    .spin-overlay
        .spin-steps

            //!======= Spinbox arrow ========
            .spin-pointer
                .spin-pointer-bg
                    svg(width=68.57 height=90.83 viewBox="0 0 68.57 90.83")
                        defs
                            linearGradient(id="linear-gradient" x1="1123.99" y1="39.22" x2="1110.87" y2="-28.09" gradientTransform="translate(2243.64 32.39) rotate(180)" gradientUnits="userSpaceOnUse")
                                stop(offset="0" stop-color="#0081ff")
                                stop(offset="0.07" stop-color="#1773e5")
                                stop(offset="0.26" stop-color="#5050a7")
                                stop(offset="0.45" stop-color="#7f3474")
                                stop(offset="0.61" stop-color="#a41d4c")
                                stop(offset="0.77" stop-color="#be0d2f")
                                stop(offset="0.9" stop-color="#ce031d")
                                stop(offset="1" stop-color="#d40017")
                        path(style="fill: url(#linear-gradient)" d="M1087.54,5.07a34.29,34.29,0,0,1,68.57,0c0,18.94-34.29,56.54-34.29,56.54S1087.54,24,1087.54,5.07Z" transform="translate(-1087.54 29.22)")
                        path(fill="#fff" d="M1087.54,5.07a34.29,34.29,0,0,1,68.57,0c0,18.94-34.29,56.54-34.29,56.54S1087.54,24,1087.54,5.07Z" transform="translate(-1027.12 29.22) scale(0.946188340807175 0.946188340807175)")
                .spin-pointer-logo
                    include ../components/logo
                include ../components/loader

            include ../components/step-main
            include ../components/step-desc

            //!======= Close button ========
            button.spin-close(type="button")
                svg(width=14 height=14)
                    use(xlink:href="#spinbox-close")

        include ../components/loader
