.loyalty
    .container
        header.header
            .logo Loyalty booster
            .loyalty-arrow
                svg(width=62 viewBox="0 0 32.634 32.634")
                    path(d="M16.317,32.634c-0.276,0-0.5-0.224-0.5-0.5V0.5c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5v31.634 C16.817,32.41,16.594,32.634,16.317,32.634z")
                    path(d="M28.852,13.536c-0.128,0-0.256-0.049-0.354-0.146L16.319,1.207L4.135,13.39c-0.195,0.195-0.512,0.195-0.707,0 s-0.195-0.512,0-0.707L15.966,0.146C16.059,0.053,16.186,0,16.319,0l0,0c0.133,0,0.26,0.053,0.354,0.146l12.533,12.536 c0.195,0.195,0.195,0.512,0,0.707C29.108,13.487,28.98,13.536,28.852,13.536z")
        section.content
            .content-area
                h1.h1 Spinbox
                p Испытай удачу
                p Революционный инструмент повышения лояльности
                label.btn(for="popup") Узнать больше
            input(type="checkbox" id="popup" hidden)
            form(class="form" action="./api/")
                .form-content
                    fieldset.fields
                        h2.h2 Напишите нам
                        .row
                            input.input(spellcheck="false" placeholder="Имя и фамилия*" required name="name")
                        .row
                            input.input(spellcheck="false" type="email" placeholder="Ваш e-mail*" required name="email")
                        .row
                            textarea.input.input-text(spellcheck="false" placeholder="Комментарий" name="comment")
                        .row
                            button.btn.btn-filled(type="submit" name="submit") Отправить
                    .success-response Что-то пошло не так. Пожалуйста, попробуйте позже!
                    label.spin-close(for="popup")
                        svg(height=14 width=14 viewBox="0 0 14 14")
                            g
                                path(d="M14.003,2.151 L11.848,-0.004 L-0.004,11.849 L2.151,14.004 L14.003,2.151 Z")
                                path(d="M-0.004,2.151 L2.151,-0.004 L14.003,11.849 L11.848,14.004 L-0.004,2.151 Z")
                    .spin-loader
                        span
                        span
                        span
        footer.footer Powered by Loyalty Booster
